@font-face {
  font-family: "Fredoka One";
  src: url("https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.eot");
  src: url("https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/5165c0facbfede7afe6c9ef3fd635f11.svg#Fredoka One")format("svg");
}

html, body {
  height: 100%; /* Fait en sorte que le html et le body prennent toute la hauteur de la fenêtre */
  margin: 0; /* Supprime la marge par défaut */
  padding: 0; /* Supprime le padding par défaut */
  background-color: #5386f5; /* Mettez la couleur de fond souhaitée ici */
  box-sizing: inherit;
}
body {
  background-image: url('../public/background_simple.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Style pour le menu latéral */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color:white
}

.sidebar ul{
  list-style: none;
  padding:0;
}
.sidebar ul li{
  display: flex;
  gap: 10px;
  padding: 0.3rem;
}
.sidebar ul li div{
  display: flex;
  flex-direction: column;
}

/* Les styles de sidebar lorsqu'il est ouvert */
.sidebar.open {
  width: 250px;
}
.btn-push-gray span.offline{
  background-color: #f85656;
  font-family: "Fredoka One";
  color: #6b3c3c;
  font-size: 10px;
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  text-shadow: none;
  letter-spacing: 0;

}
.btn-push-gray span.online{
  background-color: #56f85c;
  font-family: "Fredoka One";
  color: #446e44;
  font-size: 10px;
padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  text-shadow: none;
  letter-spacing: 0;
}
.btn-push-gray span.online, .btn-push-gray span.offline{
  display: flex;
  align-items: center;
  gap: 5px;
  text-wrap: nowrap;
  flex-wrap: nowrap;
width: fit-content;
}

.tab-content ul{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.yourProfile .btn-push{
  background: #f1cf24;
  -ms-box-shadow: 0px 5px 0px #ab9e00;
  -o-box-shadow: 0px 5px 0px #ab9e00;
  box-shadow: 0px 5px 0px #ab9e00;
}

span.online svg, span.offline svg{
  width: 0.8em;
}
/* Les boutons de fermeture */
.close.btn-push {
  padding: 0.1rem 0.7rem 0.3rem 0.75rem;

}

/* Style pour le bouton qui ouvre le menu */
.openMenuButton {
  /*position: fixed;*/
  /*top: 20px;*/
  /*right: 20px;*/
  z-index: 1;
}


.btn-push {
  font-family: "Fredoka One";
  position: relative;
  font-weight: bold;
  top: 0px;
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-size: 25px;
  background: rgb(251,112,115);
  background: linear-gradient(180deg, rgba(251,112,115,1) 0%, rgba(222,46,72,1) 100%);
  /*margin: 0 10px;*/
  /*border: 1px solid #c4c4c4;*/
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
  cursor: pointer;
  color: #fff;
  /*border: 1px solid #a01b1b;*/
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  border-radius: 0.7rem;
  -webkit-box-shadow: 0px 5px 0px #a01b1b;
  -moz-box-shadow: 0px 5px 0px #a01b1b;
  -ms-box-shadow: 0px 5px 0px #a01b1b;
  -o-box-shadow: 0px 5px 0px #a01b1b;
  box-shadow: 0px 5px 0px #a01b1b;
  text-shadow: 2px 4px 4px #a01b1b;
  border: 0;
}

.btn-push-green{
  background: rgb(56,201,29);
  background: linear-gradient(180deg, rgba(132,249,40,1) 0%, rgba(56,201,29,1) 100%);
  -webkit-box-shadow: 0px 5px 0px #319244;
  -moz-box-shadow: 0px 5px 0px #319244;
  -ms-box-shadow: 0px 5px 0px #319244;
  -o-box-shadow: 0px 5px 0px #319244;
  box-shadow: 0px 5px 0px #319244;
  text-shadow: 2px 4px 4px #319244;
}
.btn-push-gray{
  background: rgb(192,200,208);
  background: linear-gradient(180deg, rgb(226 235 241) 0%, rgb(205 205 205) 100%);
  -webkit-box-shadow: 0px 5px 0px #949494;
  -moz-box-shadow: 0px 5px 0px #949494;
  -ms-box-shadow: 0px 5px 0px #949494;
  -o-box-shadow: 0px 5px 0px #949494;
  box-shadow: 0px 5px 0px #949494;
  text-shadow: 1px 2px 4px #000000
}
.btn-push-blue{
  background: rgb(64, 158, 255);
  background: linear-gradient(180deg, rgb(61, 179, 255) 0%, rgb(11, 146, 194) 100%);
  -webkit-box-shadow: 0px 5px 0px #1c6186;
  -moz-box-shadow: 0px 5px 0px #1c6186;
  -ms-box-shadow: 0px 5px 0px #1c6186;
  -o-box-shadow: 0px 5px 0px #1c6186;
  box-shadow: 0px 5px 0px #1c6186;
  text-shadow: 1px 2px 4px #000000
}

.btn-push-gray h6{
  margin: 0;
  font-size: 1.5rem
}
.btn-push-blue{
  font-size: 1.2rem;
}
.btn-push-gray span{
  margin: 0;
  font-size: 0.9rem;
}

/*==========  Active State  ==========*/
.btn-push:active {
  position: relative;
  top: 5px;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
}

/*==========  Hover State  ==========*/
.btn-push:hover {
  box-shadow: 0px 7px 0px #c0392b; /* ombre légèrement plus grande */
  color: #ffffff; /* couleur du texte blanche pour un contraste élevé */
}
.btn-push-green:hover {
  box-shadow: 0px 7px 0px #14a12e; /* ombre légèrement plus grande */
  color: #ffffff; /* couleur du texte blanche pour un contraste élevé */
}
.btn-push-gray:hover {
  box-shadow: 0px 7px 0px #757575; /* ombre légèrement plus grande */
  color: #ffffff; /* couleur du texte blanche pour un contraste élevé */
}
.btn-push-blue:hover {
  box-shadow: 0px 7px 0px #274f79; /* ombre légèrement plus grande */
  color: #ffffff; /* couleur du texte blanche pour un contraste élevé */
}

.btn-push:disabled{
  background: rgb(136, 136, 136);
  background: linear-gradient(180deg, rgb(131, 131, 131) 0%, rgb(101, 101, 101) 100%);
  -webkit-box-shadow: 0px 5px 0px #4b4b4b;
  -moz-box-shadow: 0px 5px 0px #4b4b4b;
  -ms-box-shadow: 0px 5px 0px #4b4b4b;
  -o-box-shadow: 0px 5px 0px #4b4b4b;
  box-shadow: 0px 5px 0px #4b4b4b;
  text-shadow: 2px 4px 4px #4b4b4b;
}




.btn-push a{
  padding: 15px 50px;

  border-radius: 10px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
.buzz-btn-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buzz-btn{
  aspect-ratio: 1/1;
  padding: 4rem;
  border-radius: 2000px;
}

.game_button a:hover{
  background-color: cornflowerblue;
}


.modal_bg {
  background-color: rgba(0,0,0,0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal{
  margin: 2rem;
  width: 100%;
  /*max-width: 300px;*/
  max-height: 90vh;
  overflow: hidden;
  background: rgb(141,147,160);
  background: linear-gradient(180deg, rgba(141,147,160,1) 0%, rgba(118,124,140,1) 10%, rgba(105,112,129,1) 18%, rgba(93,102,121,1) 21%, rgba(89,98,118,1) 100%);
  border-radius: 15px;
  border: 1.5px solid #777f8e;
  padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  display: flex;
  flex-direction: column;
}
.modal_content {
  background-color: #e4f3ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 2rem 2rem 2rem;
  gap: 1rem;
  border-radius: 0.5rem;
  position: relative;
  overflow-y: scroll;
}

/*.modal .modal_content_title{*/
/*  background-color: #19acff;*/
/*  color: white;*/
/*  width: 100%;*/
/*  text-align: center;*/
/*  border-radius: 0.5rem;*/
/*  position: relative;*/
/*  z-index: 2;*/
/*  padding: 1rem 0;*/
/*  box-shadow: 0px 5px 0px #0a80ce;*/
/*  font-family: "Fredoka One";*/
/*  !*text-shadow: 4px 1px 2px pink;*!*/
/*  letter-spacing: 0.1rem;*/
/*}*/
.modal .modal_content_title{
  color: white;
  width: 100%;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0 0 0.5rem 0;
  font-family: "Fredoka One";
  text-shadow: 2px 1px 2px black;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: space-between
}
.modal .modal_content_title h2{
  margin: 0;
}

.modal .modal_content input{
  background-color: #b7d3ed;
  padding: 1rem 0;
  padding-left: 1rem;
  border-radius: 0.5rem;
  border: 0;
}
.modal .modal_content input[type="range"]{
  padding:0;
  width: 100%;
}

.modal .modal-tab{
  font-size: 1rem;
  color: white;
  border: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.5rem 1rem;
  font-family: "Fredoka One";
  background-color: #81a3bb;
  text-shadow: 1px 1px 6px black;
}
.modal .modal-tab.active{
  background-color: #f9fcff;
}
.modal .tab-content{
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #f9fcff;
}

.tab-content ul{
  padding: 0;
  margin: 0;
}

.tab-content .server-info{
  display:flex;
  gap:1rem;
  align-items:center;
  padding:1rem
}
.tab-content .server-info-rules{
  color:white;
  background-color:#0081cc;
  padding:1rem;
  display:flex;
  background: rgb(0,104,172);
  background: linear-gradient(180deg, rgba(0,104,172,1) 0%, rgba(59,187,247,1) 100%);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.tab-content .server-info-rule{
  width:100%;
  text-align:center;
  border-right:1px solid white;
  padding: 0 0.2rem 0 ;
}


.z_top{
  /*position: fixed;*/
  padding: 3rem;
  z-index: 9999;
}




.big-red-button {
  box-shadow: 0px 15px 0 20px #352d2d, 0px 40px 0 30px #000;
  cursor: pointer;
  background-color: #c0392b;
  position: absolute;
  border-radius: 50%;
  border: 0;
  top: 50%;
  left: 50%;
  width: 480px;
  height: 80px;
  transform: translateX(-50%);
}
.big-red-button::before {
  content: '';
  z-index: 1;
  border-radius: 50%;
  background-color: #e74c3c;
  position: absolute;
  bottom: 100%;
  left: 0%;
  transition: bottom 0.4s;
  width: 480px;
  height: 80px;
}
.big-red-button::after {
  content: '';
  background-color: #c0392b;
  position: absolute;
  bottom: 50%;
  left: 0%;
  width: 480px;
  height: 80px;
  transition: height 0.4s;
}
.big-red-button:active::before {
  bottom: 10%;
}
.big-red-button:active::after {
  height: 10%;
}

.big-red-button:disabled{
  background-color: #656565;
}
.big-red-button:disabled::before {
   background-color: #9d9d9d;
 }
.big-red-button:disabled::after {
  background-color: #656565;
}




.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
margin: 0.5rem 0;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
  border-radius:10px;
  background: rgb(56,201,29);
  background: linear-gradient(180deg, rgba(132,249,40,1) 0%, rgba(56,201,29,1) 100%);
  -webkit-box-shadow: 0px 5px 0px #319244;
  -moz-box-shadow: 0px 5px 0px #319244;
  -ms-box-shadow: 0px 5px 0px #319244;
  -o-box-shadow: 0px 5px 0px #319244;
  box-shadow: 0px 5px 0px #319244;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 25px;
  cursor: pointer;
  background: rgb(56,201,29);
  background: linear-gradient(180deg, rgba(132,249,40,1) 0%, rgba(56,201,29,1) 100%);
  -webkit-box-shadow: 0px 5px 0px #319244;
  -moz-box-shadow: 0px 5px 0px #319244;
  -ms-box-shadow: 0px 5px 0px #319244;
  -o-box-shadow: 0px 5px 0px #319244;
  box-shadow: 0px 5px 0px #319244;
}


progress{
  --fill: linear-gradient(rgba(226, 102, 76, 0.65), transparent),
  repeating-linear-gradient(135deg, #a22215 0 0.25em, #be2a20 0 0.5em);
}

progress {
  box-sizing: border-box;
  border: solid 0.15em #242b35;
  border-radius: 0.5em;
  background: linear-gradient(#191c23, #2d3341);
  font: clamp(0.625em, 7.5vw, 5em) monospace;
  width: 100%;
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  border-radius: 0.35em;
  box-shadow: inset 0 0.05em 0.05em rgba(255, 255, 255, 0.35);
  background: var(--fill);
}
progress::-moz-progress-bar {
  border-radius: 0.35em;
  box-shadow: inset 0 0.05em 0.05em rgba(255, 255, 255, 0.35);
  background: var(--fill);
}


.crown {
  position: relative;
  width: 0;
  height: 0px;
  border-bottom: 50px solid #b80;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  margin: 0 auto;
}
.crown:after, .crown:before {
  position: absolute;
  content: "";
  width: 0px;
}
.crown:before {
  border-bottom: 50px solid #fb0;
  border-right: 50px solid transparent;
  left: -25px;
  top: 0;
}
.crown:after {
  border-bottom: 50px solid #fb0;
  border-left: 50px solid transparent;
  right: -25px;
  top: 0;
}

.crown .wins{
  color: white;
  margin: 0;
  position: absolute;
  /* top: 49%; */
  left: 50%;
  transform: translate(-50%, 105%);
  z-index: 2;
}





.btn-container{
  margin-top: 60px;
  display: flex;
  align-content: center;
  justify-content: center;
}
/*De la plus petite taille d'ecran jusqu'a 767px*/
.btn {
  /*gestion des couleurs*/
  --primary: 222, 64, 64;
  --secondary: 174, 0, 3;
  --white: 243, 243, 243;
  width: 110px;
  height: 100px;
  outline: none;
  cursor: pointer;
  border-radius: 100%;
  position: relative;
  will-change: transform;
  transition: all .2s ease-in-out 0s;
  z-index: 5;
}

.btn .back {
  background: rgb(var(--secondary));
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--black), .25);
  left: 0;
  top: 4px;
  width: 100%;
  height: 100%;
}

.btn .front {
  background-color: rgba(var(--primary));
  box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  transform: translateY(-15%);
  transition: .15s;
}

.btn .checkbox + .front {
  cursor: pointer;
}

.btn .checkbox:checked + .front {
  /*transform: translateY(-1px);*/
  cursor: pointer;
}

.btn:active .front {
  transform: translateY(0%);
}
/*Socle du bouton*/
.base {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  color: #fff;
  /*Ajustement du placement boutton rouge*/
  margin-top: -18px;
  margin-left: -19px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  min-height: 100px;
  max-height: 500px;
  min-width: 100px;
  max-width: 500px;
  padding: 12px;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  will-change: transform;
  transition: all .1s ease-in-out 0s;
  background-image: linear-gradient(to right, rgb(143 143 143 / 100%), rgba(143, 143, 143, 1)),
  linear-gradient(to bottom, rgb(140 140 140 / 100%), rgba(149, 159, 149, 1)),
  linear-gradient(to left, rgb(150 150 150 / 100%), rgba(255, 255, 255, 1));
  background-position: bottom right;
  background-size: 100% 100%, 100% 100%;
  box-shadow: inset -6px -10px 0 rgba(255, 255, 255, 0.4),
  inset -4px -8px 0 rgba(0, 0, 0, 0.8),
  0 1px 1px rgba(0, 0, 0, 0.7),
  0 8px 1px rgba(255, 255, 255, 0.1);
  transform: rotateZ(22deg) translateY(-10.8px);
  z-index: -5;
}
/*A partir de la taille d'ecran de 568px*/
@media only screen and (min-width: 268px) {
  .btn {
    /*gestion des couleurs*/
    --primary: 222, 64, 64;
    --secondary: 174, 0, 3;
    --white: 243, 243, 243;
    width: 210px;
    height: 200px;
    outline: none;
    cursor: pointer;
    border-radius: 100%;
    position: relative;
    will-change: transform;
    transition: all .2s ease-in-out 0s;
    z-index: 0;
  }

  /*Socle du bouton*/
  .base {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: #fff;
    /*Ajustement du placement boutton rouge*/
    margin-top: -18px;
    margin-left: -24px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    /*Ajustement de la taille de la base grise(width, height)*/
    height: 205px;
    width: 210px;
    padding: 12px;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    will-change: transform;
    transition: all .1s ease-in-out 0s;
    background-image: linear-gradient(to right, rgb(143 143 143 / 100%), rgba(143, 143, 143, 1)),
    linear-gradient(to bottom, rgb(140 140 140 / 100%), rgba(149, 159, 149, 1)),
    linear-gradient(to left, rgb(150 150 150 / 100%), rgba(255, 255, 255, 1));
    background-position: bottom right;
    background-size: 100% 100%, 100% 100%;
    box-shadow: inset -6px -10px 0 rgba(255, 255, 255, 0.4),
    inset -4px -8px 0 rgba(0, 0, 0, 0.8),
    0 1px 1px rgba(0, 0, 0, 0.7),
    0 8px 1px rgba(255, 255, 255, 0.1);
    transform: rotateZ(22deg) translateY(-10.8px);
    z-index: -5;
  }
}

/*A partir de la taille d'ecran de 768px*/
@media only screen and (min-width: 568px) {
  .btn {
    /*gestion des couleurs*/
    --primary: 222, 64, 64;
    --secondary: 174, 0, 3;
    --white: 243, 243, 243;
    width: 250px;
    height: 240px;
    outline: none;
    cursor: pointer;
    border-radius: 100%;
    position: relative;
    will-change: transform;
    transition: all .2s ease-in-out 0s;
    z-index: 0;
  }

  /*Socle du bouton*/
  .base {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: #fff;
    /*Ajustement du placement boutton rouge*/
    margin-top: -22px;
    margin-left: -28px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    /*Ajustement de la taille de la base grise(width, height)*/
    height: 250px;
    width: 255px;
    padding: 12px;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    will-change: transform;
    transition: all .1s ease-in-out 0s;
    background-image: linear-gradient(to right, rgb(143 143 143 / 100%), rgba(143, 143, 143, 1)),
    linear-gradient(to bottom, rgb(140 140 140 / 100%), rgba(149, 159, 149, 1)),
    linear-gradient(to left, rgb(150 150 150 / 100%), rgba(255, 255, 255, 1));
    background-position: bottom right;
    background-size: 100% 100%, 100% 100%;
    box-shadow: inset -6px -10px 0 rgba(255, 255, 255, 0.4),
    inset -4px -8px 0 rgba(0, 0, 0, 0.8),
    0 1px 1px rgba(0, 0, 0, 0.7),
    0 8px 1px rgba(255, 255, 255, 0.1);
    transform: rotateZ(22deg) translateY(-10.8px);
    z-index: -5;
  }
}
/*A partir de la taille d'ecran de 1024px*/
@media only screen and (min-width: 1024px) {
  .btn {
    /*gestion des couleurs*/
    --primary: 222, 64, 64;
    --secondary: 174, 0, 3;
    --white: 243, 243, 243;
    /*gestion de la taille bouton rouge*/
    width: 350px;
    height: 340px;
    outline: none;
    cursor: pointer;
    border-radius: 100%;
    position: relative;
    will-change: transform;
    transition: all .2s ease-in-out 0s;
    z-index: 0;
  }

  /*Socle du bouton*/
  .base {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: #fff;
    /*Ajustement du placement boutton rouge*/
    margin-top: -25px;
    margin-left: -34px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    /*Ajustement de la taille de la base grise(width, height)*/
    height: 360px;
    width: 370px;
    padding: 12px;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    will-change: transform;
    transition: all .1s ease-in-out 0s;
    background-image: linear-gradient(to right, rgb(143 143 143 / 100%), rgba(143, 143, 143, 1)),
    linear-gradient(to bottom, rgb(140 140 140 / 100%), rgba(149, 159, 149, 1)),
    linear-gradient(to left, rgb(150 150 150 / 100%), rgba(255, 255, 255, 1));
    background-position: bottom right;
    background-size: 100% 100%, 100% 100%;
    box-shadow: inset -6px -10px 0 rgba(255, 255, 255, 0.4),
    inset -4px -8px 0 rgba(0, 0, 0, 0.8),
    0 1px 1px rgba(0, 0, 0, 0.7),
    0 8px 1px rgba(255, 255, 255, 0.1);
    transform: rotateZ(22deg) translateY(-10.8px);
    z-index: -5;
  }
}


.btn:disabled .front{
  background-color: #656565;
  box-shadow: 0 .5em 1em -0.2em rgba(140, 140, 140, 0.5);
}
.btn:disabled .back{
  background-color: #706c6c;
}


.navbar-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: none;
  margin: 0 0 2rem 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 1rem 0 1rem 0;
  align-items: center;
  transition: 0.2s all;
}


.navbar-bottom button {
  font-size: 18px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent!important;
  border: 0;
  color: white;
  font-family: "Fredoka One";
  position: relative;
  top: 0px;
  letter-spacing: 0.1rem;
  text-decoration: none;
  transition: 0.2s all;

}
.navbar-bottom button span{
  opacity: 0.4;
  transition: 0.2s all;

}
.navbar-bottom button svg{
  width: 40px;
  height: 40px;
  opacity: 0.4;
  transition: 0.2s all;
}

.navbar-bottom button.active {
  background: rgb(43, 148, 24);
  opacity: 1;
}
.navbar-bottom button.active span{
  opacity: 1;
  transition: 0.2s all;

}
.navbar-bottom button.active svg{
  opacity: 1;
  transition: 0.2s all;

}




.player_dropdown{
  position: absolute;
  z-index: 1;
  background-color: white ;
  border-radius: 5px;
  top: -25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  font-size: 0.9rem;

}









.profile-picture-chooser {
  text-align: center; /* Centre le contenu */
}

.profile-picture-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)); /* Crée une grille responsive */
  gap: 10px; /* Espace entre les images */
  padding: 10px;
  max-width: 500px; /* Largeur maximale de la grille */
  margin: 20px auto; /* Centre la grille horizontalement */
  overflow-Y: scroll;
  max-height: 25vh;
}

.profile-picture-grid img {
  width: 100%; /* Force toutes les images à avoir la même largeur */
  border-radius: 5px; /* Arrondit les coins des images */
  cursor: pointer; /* Change le curseur pour indiquer qu'il est cliquable */
  border: 2px solid transparent; /* Prépare la bordure pour l'image sélectionnée */
}

.profile-picture-grid img:hover {
  border-color: #007bff; /* Couleur de la bordure au survol */
  transform: scale(1.05); /* Effet de zoom au survol */
  transition: transform 0.3s, border-color 0.3s; /* Animation de transition */
}

.profile-picture-chooser .image-container{

}
.profile-picture-chooser .image-container svg{
  width: 120px;
}

.slick-track{
  height: 100vh;
}